import { Styled<%= uppercaseFirst(componentName) %> } from './styled'

const <%= uppercaseFirst(componentName) %> = () => {
  return (
    <Styled<%= uppercaseFirst(componentName) %>>
      <span><%= componentName %></span>
    </Styled<%= uppercaseFirst(componentName) %>>
  )
}

export default <%= uppercaseFirst(componentName) %>
